.bg{
	background-color: #e3f2fd;
}

.header{
	text-align: center;
	color: black;
	margin-bottom: 15px;
	margin-top: 20px;
}

.lol{
	text-align: center;
	padding-bottom: 10px;
}
.center{
	text-align: center;
}
.space{
	padding: 10px;
	
	box-sizing: border-box;
}
.color{
	background-color: lightblue;
	padding: 10px;
}

@media (min-width:768px){
.nah{
	visibility: hidden !important;
}	

}